@model IEnumerable<HeroicallyRecipes.Web.Models.RecipeViewModels.RecipeViewModel>

<div class="row" id="recipes-container">
    @foreach (var recipe in Model)
    {
        <div class="col-md-4">
            <div class="bs-component">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">@recipe.Title</h3>
                    </div>
                    <div class="panel-body">
                        <img src="@Url.Action("GetImage", "Home", new { Area = "", id = recipe.ViewId }, null)" class="img-responsive" />
                        <div id="@("recipe-" + recipe.ViewId.Substring(0,7))">
                            @recipe.Preparation.Substring(0, 100)
                            <br />
                            @Ajax.ActionLink("See more", "GetRecipePreparation", new { id = recipe.ViewId }, new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "recipe-" + recipe.ViewId.Substring(0, 7),
                               InsertionMode = InsertionMode.Replace
                           })
                        </div>
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("More details", "Details", "Recipes", new { area = "Users", id = recipe.ViewId }, new { @class = "btn btn-success", title = "Recipe details" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
