@model HeroicallyRecipes.Web.Models.RecipeViewModels.RecipeListViewModel
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-component">
    <h2 class="text-center">Recipes</h2>
</div>

<div class="row" id="search-recipe">
    <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>  
</div>

<div class="row" id="recipes-container">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-4">
            <div class="bs-component">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">@recipe.Title</h3>
                    </div>
                    <div class="panel-body">
                        <img src="@Url.Action("GetImage", "Home", new { Area = "", id = recipe.ViewId }, null)" class="img-responsive" />
                        <div id="@("recipe-" + recipe.ViewId.Substring(0,7))">
                            @recipe.Preparation.Substring(0, 100)
                            <br />
                            @Ajax.ActionLink("See more", "GetRecipePreparation", new { id = recipe.ViewId }, new AjaxOptions()
                       {
                           HttpMethod = "GET",
                           UpdateTargetId = "recipe-" + recipe.ViewId.Substring(0, 7),
                           InsertionMode = InsertionMode.Replace
                       })
                        </div>
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("More details", "Details", "Recipes", new { area = "Users", id = recipe.ViewId }, new { @class = "btn btn-success", title = "Recipe details" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="/Users/Recipes/All?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = string.Empty;
            if (i == Model.CurrentPage)
            {
                className = "active";
            }
            <li class="@className"><a href="/Users/Recipes/All?page=@i">@i</a></li>
        }

        <li>
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="/Users/Recipes/All?page=@(Model.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            }
        </li>
    </ul>
</nav>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

