@model HeroicallyRecipes.Web.Models.RecipeViewModels.RecipeListViewModel
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Recipes</h2>

<h2>@Model.CurrentPage</h2>

<div class="row">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-4">
            <div class="bs-component">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">@recipe.Title</h3>
                    </div>
                    <div class="panel-body">
                        <img src="@Url.Action("GetImage", "Home", new { Area = "", id = recipe.ViewId }, null)" class="img-responsive" />
                        <div>
                            @recipe.Preparation.Substring(0, 100)
                            <br />
                            @Ajax.ActionLink("See more", "GetRecipePreparation", new { id = recipe.ViewId }, new AjaxOptions()
                       {
                           HttpMethod = "GET",
                           UpdateTargetId = "recipe-preparation-container",
                           InsertionMode = InsertionMode.Replace
                       })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="panel text-center">
    <div id="recipe-preparation-container" class="panel-body">

    </div>
</div>
<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="/Users/Recipes/All?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = string.Empty;
            if (i == Model.CurrentPage)
            {
                className = "active";
            }
            <li class="@className"><a href="/Users/Recipes/All?page=@i">@i</a></li>
        }

        <li>
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="/Users/Recipes/All?page=@(Model.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            }
        </li>
    </ul>
</nav>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

